.m-5 {
    margin: 5px 0;
}

.p-0 {
    padding: 0;
}

.m-10 {
    margin: 10px 0;
}

.p-10 {
    padding: 10px;
}

.p-5-10 {
    padding: 5px 10px;
}

.p-6-0 {
    padding: 6px 0;
}

.m-25 {
    margin: 25px 0;
}

.m-0-10 {
    margin: 0 10px !important;
}

.m-3-15 {
    margin: 3px 15px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.ml-1 {
    margin-left: 1px !important;
}

.ml-2 {
    margin-left: 2px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-23 {
    padding-top: 23px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pt-18 {
    padding-top: 18px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-22 {
    padding-top: 22px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-38 {
    padding-top: 38px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs15 {
    font-size: 15px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs38 {
    font-size: 38px !important;
}

.w10 {
    width: 10% !important;
}

.w15 {
    width: 15% !important;
}

.w25 {
    width: 25% !important;
}

.w35 {
    width: 35% !important;
}

.w38 {
    width: 38% !important;
}

.w40 {
    width: 40% !important;
}

.w50 {
    width: 50% !important;
}

.w57 {
    width: 57% !important;
}

.w60 {
    width: 60% !important;
}

.w64 {
    width: 64% !important;
}

.w68 {
    width: 68% !important;
}

.w70 {
    width: 70% !important;
}

.w74 {
    width: 74% !important;
}

.w95 {
    width: 95% !important;
}

.w100 {
    width: 100% !important;
}

.tac {
    text-align: center;
}

.taj {
    text-align: justify;
}

.lh-6 {
    line-height: 6px !important;
}

.lh-10 {
    line-height: 10px !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.table-left-aligned > tbody > tr > td {
    text-align: left;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right;
}

.disNone {
    display: none !important;
}

.posAbs {
    position: absolute;
}

.posRel {
    position: relative;
}

.overflowScroll {
    overflow-x: scroll;
}

.colorWhite {
    color: white !important;
}

.error {
    color: #f63a3a;
}

.customError {
    color: #f63a3a;
    position: absolute;
    font-size: 10px !important;
    bottom: -15px;
    right: 15px;
    font-weight: 500;
    margin: 0;
    font-style: italic;
    display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif !important;
}

a:focus {
    text-decoration: none;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: bold;
}

@media (max-width: 767px) {
    div.dataTables_filter {
        text-align: right !important;
    }
}

a {
    font-size: 12px !important;
}

.popover {
    width: 100% !important;
}

.popover span {
    color: red;
    font-size: 10px;
}

.form-group {
    margin-bottom: 0;
}

.emp {
    font-weight: 500;
}

.content-wrapper {
    background-color: #f6f6f6 !important;
    padding-top: 50px;
}

/* Scrollbar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="file"],
select,
select.select2,
textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 12px !important;
    line-height: 1.42857143;
    color: #555;
    background-color: #f6f6f6 !important;
    background-image: none;
    border: 1px solid #e6e6e6 !important;
    border-radius: 3px !important;
    margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="file"],
select {
    height: 35px !important;
}

input[type="file"] {
    padding: 6px;
    margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
select ~ .select2 .selection .select2-selection:focus {
    border-color: #66afe9;
    outline: 0;
}

.select2-selection--multiple {
    padding-left: 10px;
}

select.name-title {
    width: 25%;
    margin-right: 3%;
    display: initial;
}

input[type="text"].name-fname {
    width: 70%;
    display: initial;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.main-footer {
    font-size: 13px;
    padding: 8px !important;
}

label.error {
    color: #f63a3a;
    position: absolute;
    font-size: 10px !important;
    bottom: 10px;
    right: 15px;
    font-weight: 500;
    margin: 0;
    font-style: italic;
}

input[type="text"].error,
input[type="file"].error,
input[type="number"].error,
input[type="password"].error,
input[type="email"].error,
textarea.error,
input[type="text"].error,
select.error,
select.error ~ .select2 .selection .select2-selection {
    border-color: #f63a3a !important;
}

.alert-validations {
    background-color: whitesmoke !important;
    color: red !important;
}

.fa-toggle-on {
    color: green !important;
    font-size: 15px !important;
}

.fa-toggle-off {
    color: red !important;
    font-size: 15px !important;
}

.fa-bell.notification-dot {
    font-size: 13px !important;
    color: orange;
}

.form-control {
    box-shadow: none !important;
    /*border-color: #d2d6de!important;*/
}

.badge {
    font-size: 10px !important;
}

label {
    font-size: 12px !important;
}

span.select2 {
    margin-bottom: 10px !important;
    width: 100% !important;
}

.select2-container .select2-selection--single {
    padding: 3px 12px;
    border-radius: 3px !important;
    height: 35px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 30px;
    padding-left: 0;
    margin-top: 0px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 3px !important;
}

.iradio_minimal-blue {
    margin-right: 5px;
}

.icheckbox_minimal-red.checked.disabled {
    background-position: -40px 0;
}

.req {
    color: red;
}

.green {
    color: darkgreen;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.select2-selection__choice {
    background-color: darkslategrey !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px !important;
}

nav {
    width: 100%;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 85px;
    text-align: left;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu.language {
    width: 100px !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu.language > li {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu.language > li > a {
    font-size: 12px !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    padding-left: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > span {
    color: black;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: white;
    border-top: 1px solid #eee;
}

.navbar-custom-menu {
    right: 230px;
    position: absolute;
}

.main-header {
    border-bottom: 3px solid rgb(255, 168, 58);
}

.skin-blue .sidebar-menu > li.active > a {
    border-left-color: #3c5d9e;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .navbar {
    background-color: #024c8b;
    position: fixed;
    border-bottom: 3px solid #fdca4c;
}

.skin-blue .main-header li.user-header {
    background-color: white;
}

.skin-blue .main-sidebar {
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.75);
}

.skin-blue .main-header .logo:hover,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #173d81;
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
    background: #173d81;
}

.skin-blue .sidebar-menu > li.menu-open > a {
    background: #173d81;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #d5dddd;
    margin: 0;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #3c5d9e;
}

.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    color: #173d81;
}

.panel-default > .panel-heading {
    background-color: white !important;
}

.sidebar-menu > li > a {
    padding: 15px 5px 15px 15px;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse #side-sticker {
        display: none;
    }
    .sidebar-mini.sidebar-collapse .navbar-custom-menu {
        right: 50px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .navbar-custom-menu {
        position: static !important;
    }
}

.skin-blue .sidebar a {
    color: #3c5d9e;
}

.skin-blue .wrapper {
    background-color: white;
}

#footer {
    padding: 14px 0 12px 0;
    background: white;
    margin-left: 230px;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

.footerlinks {
    color: black;
}

.footerlinks:hover {
    color: black;
    text-decoration: none;
}

#side-sticker {
    margin-left: 8px;
    position: absolute;
    bottom: 0;
}

#side-sticker a {
    color: black;
}

#side-sticker label {
    cursor: pointer;
}

#side-sticker span {
    font-size: 10px;
    font-weight: 500;
    line-height: 35px;
}

#side-sticker .sticker-text {
    float: left !important;
    text-align: center;
    font-size: 10px;
}

#side-sticker .sticker-text label {
    font-size: 9px !important;
}

img.footflags {
    width: 35px;
    height: 22px;
}

.small-box .icon {
    font-size: 70px;
    margin-top: 8%;
}

.small-box p {
    font-size: 13px;
}

.box.box-dark {
    border-top-color: black;
}

.btn {
    border-radius: 0;
}

/* .btn-success {
	padding: 4.5px 12px !important;
} */

.nav-tabs > li > a {
    border-radius: 0;
}

.tab-pane .application-tab {
    padding-top: 25px;
}

.modal-header .close:hover {
    color: red;
}

.dash-logo {
    width: 90%;
    margin-top: 7px;
    height: 40px;
}

#loader {
    display: none;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    z-index: 2;
    opacity: 0.5;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
    margin-left: 35px;
}

.small-spinner {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 44%;
    top: 36%;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.headLebels {
    margin-left: 15px !important;
    font-size: 17px !important;
    margin-bottom: 15px;
}

.feedback-box {
    padding: 15px 20px;
    box-shadow: 0 0 30px 0 rgba(10, 10, 10, 0.09);
    margin-bottom: 20px;
    border-left: 2px solid;
}

.feedback-box h4 {
    margin-top: 0;
}

.feedback-box.open {
    border-color: #d9534f;
}

.feedback-box.closed {
    border-color: #00a65a;
}

.label {
    border-radius: 15px;
    font-size: 65%;
    padding: 0.3em 1.3em 0.4em !important;
    background-color: transparent !important;
}

.label-success {
    border: 1px solid #00a65a !important;
    color: #00a65a !important;
}

.label-danger {
    border: 1px solid #d9534f !important;
    color: #d9534f !important;
}

.btn-xs {
    border-radius: 3px !important;
}

.btn-warning {
    background-color: rgb(255, 168, 58);
    border-color: #ff9c1a;
}

.btn-warning:hover {
    background-color: #ff9100;
    border-color: #e68200;
}

.btn-primary {
    background-color: #173d81;
    border-color: #173d81;
}

.btn-primary:hover {
    background-color: #3c5d9e;
    border-color: #3c5d9e;
}

.btn-info {
    background-color: #ffc22b;
    border-color: #ffc22b;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background-color: #ffba0f;
    border-color: #ffba0f;
}

.log-box {
    height: 400px;
    overflow-y: scroll;
}

.alert-danger ul {
    list-style: none;
}

.error-list {
    list-style: none;
    padding-left: 10px;
}

.fileholder {
    margin-bottom: 15px;
}

.EU-India-TCP {
    color: black;
}

.EU-India-TCP label {
    cursor: pointer;
}

.EU-India-TCP-lv1 {
    text-align: left;
    margin-bottom: 5px;
}

.EU-India-TCP-lv1-txt {
    font-size: 9px;
    font-weight: 600;
}

@-moz-document url-prefix() {
    input[type="file"] {
        margin-bottom: 10px;
        padding: 0;
        padding-bottom: 35px;
    }
}

#dvSubScheme,
#dvSubCat,
#divBCPP,
#divNBCP,
#for_irrigation,
.projTypes,
#qntyBiomassOutside,
#dvppacapacity,
#dvpurchase_equipment_details {
    display: none;
}

.collapse-radio {
    padding-left: 0;
    padding-top: 5px;
}

.helpDeskPerson {
    margin-bottom: 28px;
}

.helpDeskPerson a {
    font-size: 14px !important;
}

.archivelog {
    margin-bottom: 10px;
}

.docInfoColor {
    color: #3097d1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: lightslategray !important;
}

.tooltip-inner {
    background-color: lightslategray;
    text-align: left;
}

@media (max-width: 576px) {
    .MobileView {
        position: absolute;
        right: 0;
    }
    .MobileView .user-footer a {
        color: black !important;
    }
}

@media (max-width: 767px) {
    .main-sidebar {
        padding-top: 50px;
    }
}

.frontPagesBox {
    margin: 50px 0px 150px;
}

.log-block {
    padding: 15px 20px;
    box-shadow: 0 0 30px 0 rgba(10, 10, 10, 0.09);
    margin-bottom: 20px;
    border-left: 2px solid #00a65a;
}

.small-box-primary {
    background: #607daf !important;
}

.small-box-success {
    background: rgb(107, 133, 92) !important;
}

.small-box-warning {
    background: #f2ce74 !important;
}

.small-box-danger {
    background: #f19090 !important;
}
