body{
	margin: 0;
	padding: 0;
}

/* 14-7-2021 */



/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"); */
.panel-title > a:before {
    /* float: right !important; */
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 12px;
}
.panel-title > a.collapsed:before {
    /* float: right !important; */
    content:"\f067";
	display: block;
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.faq{
	padding: 70px 0;
}
.faq .panel-heading .panel-title a{
	font-size: 18px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	display: flex;
}
.faq .panel-default>.panel-heading{
	color: #333;
    background-color: #e8e8e8;
	border-color: #e8e8e8;
}
.faq .panel-default .panel-body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.faq .panel-group .panel{
	margin-bottom: 30px;
}