.navbar {
    min-height: 70px;
}

.navbar-brand {
    padding: 0;
}

.navbar-mnre {
    background-color: #173d81;
    border-color: #fdca4c;
    margin-bottom: 0;
}

.navbar-fixed-top {
    border-width: 0 0 3px;
    position: sticky;
}

#homenav ul.nav {
    padding-top: 8px;
    float: right;
}

#homenav ul.nav li {
    padding: 0 10px;
    text-align: center;
}

#homenav ul.nav li.active a {
    color: #fdca4c;
}

#homenav ul.nav li a {
    color: white;
    font-size: 14px !important;
    text-transform: uppercase;
}

#homenav ul.nav li a:hover,
#homenav ul.nav li a:active {
    color: #fdca4c;
    background-color: #173d81;
}

#homenav ul.nav li a:focus {
    background-color: #173d81;
}

.ind_tri_color {
    height: 67px;
    width: 10px;
    position: absolute;
}

.home-logo-holder {
    padding: 14px 0px 0px 48px;
}

.home-logo-holder img {
    height: 40px;
}

@media (max-width: 576px) {
    .home-logo-holder {
        padding: 14px 0px 0px 16px;
    }
    .home-logo-holder img {
        height: 32px;
    }
}

#summeryContainer {
    width: 1000px !important;
}

/* Mobile header */

.mobile-menu {
    height: 100vh;
    position: absolute;
    transition: 0.3s all ease-in-out;
    z-index: 9999;
    background-color: #173d81;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

@media (max-height: 400px) {
    .mobile-menu {
        height: 200%;
    }
}

.mobile-menu button {
    background: none;
    border: none;
    color: white;
    float: right;
}

.mobile-menu ul {
    list-style: none;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.mobile-menu ul li {
    color: white;
    padding: 20px;
}

.mobile-menu ul li a {
    color: white;
    padding: 20px;
    font-size: 20px !important;
}

/* ends here */

.btn-default {
    padding: 10px 12px;
    border-radius: 3px !important;
}

@media (max-width: 767px) {
    .cms-container {
        width: 100% !important;
        max-width: 767px !important;
    }
    div.dataTables_filter {
        text-align: right !important;
    }
}

.cms-heading {
    margin-bottom: 40px;
}

#programmes > li {
    margin-bottom: 10px;
}

#home-body {
    background-color: #f6f6f6;
}

#home-container {
    padding: 120px 0;
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    min-height: 89vh;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

#home-container h2 {
    color: white;
}

#home-msg {
    /* position: absolute; */
    text-align: center;
    /* margin-top: 170px;
  padding: 0px 314px;
  color: white; */
}

.signup-captcha {
    margin: 10px 0px;
}

#home-footer {
    padding: 10px 0 8px 0;
    background: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

@media (max-height: 576px) {
    #home-footer {
        padding: 6px 0 8px 0;
    }
    .termconditions {
        margin-top: -6px !important;
    }
}

#home-footer img.footflags {
    width: 52px;
    height: 32px;
}

.footerlinks {
    color: black;
}

.footerlinks:hover {
    color: black;
    text-decoration: none;
}

@media (max-width: 576px) {
    #home-footer img.footflags {
        width: 32px;
        height: 22px;
        margin-top: 3px;
    }
    .footerlinks {
        font-size: 9px !important;
    }
    .EU-India-TCP {
        margin-left: -11px;
    }
    .EU-India-TCP label {
        font-size: 8px !important;
    }
    .termconditions {
        margin-right: 3px;
        margin-top: -10px !important;
    }
    .footer-label {
        margin: 0 6px !important;
    }
}

@media (max-width: 576px) {
    .fs38.title {
        font-size: 28px !important;
    }
    .footer-list {
        margin-right: -18px !important;
    }
    .footer-list > li {
        padding-left: 0;
        padding-right: 5px;
    }
    .footer-list > li#list-item-1 {
        padding-right: 0 !important;
    }
}

.login-box {
    margin-top: 2% !important;
    left: 37%;
    background: white;
    padding: 1px 55px 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
}

@media (max-width: 576px) {
    .login-box {
        margin-top: 5% !important;
        margin-bottom: 70px !important;
    }
}

.login-box input {
    padding-left: 10px !important;
}

#home-container .login-box .has-feedback {
    padding: 0;
}

.captcha {
    padding: 15px;
    border: 1px solid #b3b3b3;
    width: 100%;
    background: #e1e6e8;
}

.login-captcha {
    margin: 10px 0px;
}

.signup-validation-msg {
    margin: 10px 120px 10px 140px;
}

.captcha img {
    float: left;
}

#captcha-input {
    margin-top: 15px;
    margin-bottom: 0;
    width: 80%;
    background: #e1e6e8 !important;
    border: none;
    border-bottom: 1px solid black !important;
}

.captcha-refresh {
    cursor: pointer;
}

#btn-login {
    border-radius: 4px;
    width: 170px;
    margin-top: 10px !important;
}

label#captcha-input-error {
    top: 440px;
    left: 112px;
}

.fileDiv {
    margin-bottom: 25px;
}

@media (max-width: 576px) {
    .MobileView {
        position: absolute;
        right: 0;
    }
}

.cms-container {
    padding: 0 35px 25px;
    text-align: justify;
}

.dvCms {
    line-height: 1.5;
    padding: 0 20px;
    text-align: justify;
    font-size: 15px !important;
}

.nav-stacked > li {
    border-radius: 5px;
    border: 1px solid #4472c4;
    border-bottom: 1px solid #4472c4 !important;
    margin-bottom: 20px !important;
}

.nav-stacked > li > a {
    color: #4472c4;
}

.helpScrollBox {
    overflow-y: scroll;
    max-height: 400px;
}

.viewmore-button a.btn {
    margin-top: 10px;
}
